[Unit]
Description=Sapiens Mail (Mailcow) backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/sapiens-mail-backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

